@model IEnumerable<NiceHouse.Models.RoomType>

@{
    ViewBag.Title = "Room Types";
}

<h2>Room Types</h2>

<div class="row mt-4">
    @foreach (var roomType in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@roomType.Name</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Hotel: @roomType.Hotel.Name</h6> <!-- Hiển thị tên khách sạn -->
                    <h6 class="card-subtitle mb-2 text-muted">Price: @roomType.Price</h6>
                    <p class="card-text">Number of Beds: @roomType.NumberOfBeds</p>
                    @if (roomType.Images.Any())
                    {
                        <img src="@roomType.Images.First().ImageUrl" class="card-img-top img-fluid" />
                    }
                </div>
            </div>
        </div>
    }
</div>
